<!--
  Generated template for the MypagePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>mypage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

	  <ion-item>
	    <ion-label fixed>Username</ion-label>
	    <ion-input type="text" value=""></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label fixed>Password</ion-label>
	    <ion-input type="password"></ion-input>
	  </ion-item>

	</ion-list>

</ion-content>
